table {
    width: 95%;
}
table th{
    border-bottom: 1px solid black;
}
table tbody tr td{
    padding-left: 30px;
    border-left: 1px solid black;
    padding: 5px;
    height: 50px;
}
.add-feedback-form, .edit-feedback-form{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-feedback-form input, .edit-feedback-form input {
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid gray !important;
}
.add-feedback-form button, .edit-feedback-form button{
    border: 1px solid rgb(139, 91, 2);
}
