.nav-list {
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
  }
  .nav-list h2 {
    margin-top: 30px;
  }
  .nav-list li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .logout-button {
    border: none;
    background: none;
    cursor: pointer;
    color: red; /* Customize the color */
  }
  
  .user-info {
    margin-top: 20px;
    border-top: 1px solid #ccc; /* Add a border on top */
    padding-top: 20px; /* Add some padding */
  }
  
  .username,
  .name {
    margin: 10px 0;
    font-weight: bold;
  }
main{
    margin-top: 100px;
}
input {
  padding-left: 10px;
}
.buttons{
  display: flex;
  gap: 20px;
}

.footer {
  width: 100%;
  padding: 1.5rem 4rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.component-container{
  background-color: rgba(214, 214, 214, 0.774);
  padding: 20px;
  border-radius: 10px;
}