table {
    width: 95%;
}

table th {
    border-bottom: 1px solid black;
}

table tbody tr td {
    padding-left: 30px;
    border-left: 1px solid black;
    padding: 5px;
    height: 50px;

}

.add-role-form, .edit-role-form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-role-form .input, .edit-role-form .input {
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid gray !important;
    height: 35px;
}

.input_file {
    padding-left: 10px;
}

.add-role-form button, .edit-role-form button {
    border: 1px solid rgb(139, 91, 2);
}

.buttons {
    display: flex;
    gap: 20px;
}
